@{
    ViewBag.Title = "About";
}

<div class="UpDownPadding SidePadding ExtraPadding">
    <div class="center">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>We are providing you highly experienced and educated Electricians. Just browse from our electricians list, compare thier experience and hire the one who is just perfect for you.</p>

    </div>
</div>
