@{
    ViewBag.Title = "Contact";
}

<div class="UpDownPadding SidePadding ExtraPadding">
    <div class="center">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            Staff Colony<br />
            Akbar Road, Mirpur<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
        </div>
</div>